<div class="row breadcrumbs">
    <div class="col-lg-12 col-md-12 col-sm-12 p-md-0">
        <a href="#" class="breadcrumbs_link">DEPPA</a>
        <span class="breadcrumbs_separator">/</span>
        <a href="#" class="breadcrumbs_link">Каталог</a>
        <span class="breadcrumbs_separator">/</span>
        <a href="#" class="breadcrumbs_link">Кейсы, бамперы, чехлы</a>
        <span class="breadcrumbs_separator">/</span>
        <a href="#" class="breadcrumbs_link">Арт 101108</a>
    </div>
</div>
