<div class="modal fade" id="buyOneClickModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <span class="modal_close" data-dismiss="modal" aria-label="Close">
        <img src="./img/modal-close.svg" alt="close">
      </span>
      <div class="modal-body">
        <h4>Купить в один клик</h4>
        <p class="modal_desc modal_desc__dark">Заполните форму и мы тут же перезвоним!</p>
        <form class="needs-validation" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Как Вас зовут" required>
          </div>
          <div class="form-group">
            <input type="phone" class="form-control" id="phone" placeholder="Телефон для связи" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Электронная почта" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg w-100 modal_btn">Подтвердить заказ</button>
          <div class="mt-3 modal_btnText">
            Нажимая на кнопку «Подтвердить заказ», вы соглашаетесь <br>с <a href="/" class="modal_link">условиями обработки</a> персональных данных
          </div>
        </form>
      </div>
    </div>
  </div>
</div>