<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <div class="container carousel-caption">
        <h1>Яркие кейсы для iPhone</h1>
        <h4>Стильная защита вашего телефона</h4>
        <div class="row">
          <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <button type="button" class="btn btn-lg btn-outline-light w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <img src="https://images.unsplash.com/photo-1524293772845-840102eccb82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="10000">
      <div class="container carousel-caption">
        <h1>Яркие кейсы для iPhone</h1>
        <h4>Стильная защита вашего телефона</h4>
        <div class="row">
          <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <button type="button" class="btn btn-lg btn-outline-light w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <img src="https://images.unsplash.com/photo-1548021029-d6cf339a5ce4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="10000">
      <div class="container carousel-caption">
        <h1>Яркие кейсы для iPhone</h1>
        <h4>Стильная защита вашего телефона</h4>
        <div class="row">
          <div class="col-6 col-md-5 col-lg-4 col-xl-3">
            <button type="button" class="btn btn-lg btn-outline-light w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <img src="https://images.unsplash.com/flagged/photo-1557050406-b3d281ecde9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="d-block w-100" alt="...">
    </div>
  </div>
</div>