<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <span class="modal_close" data-dismiss="modal" aria-label="Close">
        <img src="./img/modal-close.svg" alt="close">
      </span>
      <div class="modal-body">
        <h4 class="modal_title">Выберите город</h4>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="login" placeholder="Электронная почта">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Пароль">
          </div>
          <div class="custom-control custom-checkbox catalog_filterFormCheckbox">
            <input class="custom-control-input" type="checkbox" value="remember" id="remember">
            <label class="custom-control-label" for="remember">
              Запомнить меня
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg w-100 modal_btn">Войти</button>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <a href="/" class="modal_link">Регистрация</a>
            <span class="modal_divider mx-2">•</span>
            <a href="/" class="modal_link">Забыли пароль?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>