<footer class="footer">
  <div class="container">
    <div class="row justify-content-xl-between">
      <!-- Интернет-магазин -->
      <div class="footer_section">
        <span class="footer_sectionTitle js-footerToggle">Интернет-магазин</span>
        <ul class="footer_sectionList">
          <li class="footer_sectionListItem">
            <a href="/" class="footer_sectionListItemLink">Доставка</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="/" class="footer_sectionListItemLink">Оплата</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="" class="footer_sectionListItemLink">Возврат</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="" class="footer_sectionListItemLink">Реквизиты и контакты</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="" class="footer_sectionListItemLink">Правила продажи</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="" class="footer_sectionListItemLink">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>
      <!-- Компания -->
      <div class="footer_section">
        <span class="footer_sectionTitle js-footerToggle">Компания</span>
        <ul class="footer_sectionList">
          <li class="footer_sectionListItem">
            <a href="/" class="footer_sectionListItemLink">О нас</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="/" class="footer_sectionListItemLink">Презентация Deppa</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="" class="footer_sectionListItemLink">Новости</a>
          </li>
        </ul>
      </div>
      <!-- Партнерам -->
      <div class="footer_section">
        <span class="footer_sectionTitle js-footerToggle">Партнерам</span>
        <ul class="footer_sectionList">
          <li class="footer_sectionListItem">
            <a href="/" class="footer_sectionListItemLink">Контакты</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="/" class="footer_sectionListItemLink">Сертификаты</a>
          </li>
          <li class="footer_sectionListItem">
            <a href="" class="footer_sectionListItemLink">Материалы</a>
          </li>
        </ul>
      </div>
      <!-- Контакты -->
      <div class="footer_section">
        <span class="footer_sectionTitle js-footerToggle">Контакты</span>
        <ul class="footer_sectionList">
          <li class="footer_sectionListItem">
            <span class="footer_sectionListItemTitle">Адрес:</span>
            <p class="footer_sectionListItemValue">197022, Санкт-Петербург,<br> ул. Профессора Попова, д. 37Щ,<br> БЦ "Сенатор", офис 611</p>
            <span class="footer_sectionListItemValue footer_sectionListItemValue__dashed">Смотреть на карте</span>   
          </li>
          <li class="footer_sectionListItem footer_sectionListItem__phone">
            <span class="footer_sectionListItemTitle">Телефоны:</span>
            <p class="footer_sectionListItemValue">
              <a href="tel:8 800 700-45-61" class="footer_sectionListItemLink">8 800 700-45-61</a><br>
              <a href="tel:+7 (812) 336 82 22" class="footer_sectionListItemLink">+7 (812) 336 82 22</a>
            </p>
          </li>
          <li class="footer_sectionListItem">
            <span class="footer_sectionListItemTitle">Мы работаем пн-пт:</span>
            <p class="footer_sectionListItemValue">9:00–18:00</p>
          </li>
        </ul>
      </div>
      <!-- Нужна поддержка? -->
      <div class="footer_section">
        <span class="footer_sectionTitle footer_sectionTitle__support">Нужна поддержка?</span>
        <span class="footer_sectionListItemLink footer_sectionListItemLink__mail" data-toggle="modal" data-target="#contactUsModal">
          <img src="img/mail.svg" alt="mail" class="mr-1">
          <span class="footer_sectionListItemValue footer_sectionListItemValue__dashed">Напишите нам</span> 
        </span>
        <p class="footer_sectionDesc mb-4">Мы ответим на ваше обращение<br> в будние дни в течение суток</p>
        <ul class="footer_socials">
          <li class="footer_socialsItem mr-3">
            <a href="/" class="footer_socialsItemLink">
              <img src="img/vk.svg" alt="vk">
            </a>
          </li>
          <li class="footer_socialsItem mr-3">
            <a href="/" class="footer_socialsItemLink">
              <img src="img/facebook.svg" alt="facebook">
            </a>
          </li>
          <li class="footer_socialsItem mr-3">
            <a href="/" class="footer_socialsItemLink">
              <img src="img/youtube.svg" alt="youtube">
            </a>
          </li>
          <li class="footer_socialsItem mr-3">
            <a href="/" class="footer_socialsItemLink">
              <img src="img/instagram.svg" alt="instagram">
            </a>
          </li>
          <li class="footer_socialsItem mr-3">
            <a href="/" class="footer_socialsItemLink">
              <img src="img/telegram.svg" alt="telegram">
            </a>
          </li>
          <li class="footer_socialsItem">
            <a href="/" class="footer_socialsItemLink">
              <img src="img/whatsapp.svg" alt="whatsapp">
            </a>
          </li>
        </ul>
        <div class="footer_copyrightsBlock d-none d-md-flex flex-column">
          <span class="footer_copyrightsValue">© 2020 Deppa</span>
          <span class="footer_copyrightsValue footer_copyrightsValue__gray">Все права защищены</span>
        </div>
      </div>
    </div>
    <div class="footer_copyrights d-flex justify-content-between align-items-center align-items-md-end">
      <div class="d-flex align-items-end">
        <img src="img/logo_footer.svg" alt="logo_footer" class="footer_copyrightsLogo">
        <p class="footer_copyrightsDesc d-none d-md-block">Информация на сайте<br> не является публичной офертой</p>
      </div>
      <div class="d-flex flex-column d-md-none">
        <span class="footer_copyrightsValue">© 2020 Deppa</span>
        <span class="footer_copyrightsValue footer_copyrightsValue__gray">Все права защищены</span>
      </div>
    </div>
    <div class="w-100 d-md-none">
      <p class="footer_copyrightsDesc">Информация на сайте<br> не является публичной офертой</p>
    </div>
  </div>
</footer>
