<header class="header">
  <div class="d-flex align-items-center">
    <a href="/" class="header_logo">
      <img src="img/logo.svg" alt="logo">
    </a>
    <span class="header_desc">Интернет магазин <br>мобильных аксессуаров</span>
  </div>
  <div class="header_menu">
    <div class="header_menuItem header_menuItem__link header_menuItem__separator">
      <img src="img/user.svg" class="mr-2" alt="user">
      <span class="header_menuItemName header_menuItemName__dashed">Войти</span>
    </div>
    <div class="header_menuItem header_menuItem__link header_menuItem__margin">
      <img src="img/map-locator.svg" class="mr-2" alt="map-locator">
      <span class="header_menuItemName header_menuItemName__dashed">Санкт-Петербург</span>
    </div>
    <div class="header_menuItem header_menuItem__separator">
      <span class="header_menuItemName header_menuItemName__link header_menuItemName__margin">In English</span>
      <span class="header_menuItemName header_menuItemName__link">中文</span>
    </div>
    <div class="header_menuItem header_menuItem__separator">
      <ul class="header_menuSocials">
        <li class="header_menuSocialsItem mr-3">
          <a href="/" class="header_menuItemName header_menuItemName__link">
            <img src="img/telegram.svg" alt="telegram">
          </a>
        </li>
        <li class="header_menuSocialsItem mr-3">
          <a href="/" class="header_menuItemName header_menuItemName__link">
            <img src="img/whatsapp.svg" alt="whatsapp">
          </a>
        </li>
        <li class="header_menuSocialsItem mr-3">
          <a href="/" class="header_menuItemName header_menuItemName__link">
            <img src="img/facebook.svg" alt="facebook">
          </a>
        </li>
        <li class="header_menuSocialsItem">
          <a href="/" class="header_menuItemName header_menuItemName__link">
            <img src="img/instagram.svg" alt="instagram">
          </a>
        </li>
      </ul>
    </div>
    <div class="header_menuItem header_menuItem__column">
      <a href="tel:8 800 700 45 61" class="header_menuItemName header_menuItemName__phone">8 800 700 45 61</a>
      <span class="header_menuItemName header_menuItemName__time">Будни с 9:00 до 18:00</span>
    </div>
  </div>
</header>