<nav class="mainMenu">
	<div class="mainMenu_wrapper">
		<ul class="mainMenu_firstLevel">
      <li class="mainMenu_item">
        <span class="mainMenu_link mainMenu_link__FL mainMenu_link__current">
          <img src="img/map-locator_dark.svg" class="mr-2" alt="map-locator">Санкт-Петербург
        </span>
      </li>
      <li class="mainMenu_item">
        <a href="/" class="mainMenu_link">
          Войти
        </a>
      </li>
      <li class="mainMenu_item">
        <a href="/" class="mainMenu_link">
          Акции
        </a>
      </li>
      <li class="mainMenu_item">
        <span class="mainMenu_link js-menuItemFirst">
          Поиск по каталогу
          <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
        </span>

        <ul class="mainMenu_secondLevel">
          <li class="mainMenu_item js-menuReturnFirst">
            <span class="mainMenu_link mainMenu_link__current">
              <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Поиск по каталогу
            </span>
          </li>
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Защитные стекла и пленки</a>
          </li>
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Адаптеры и картридеры</a>
          </li>
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Внешние аккумуляторы</a>
          </li>
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Дата кабели и AUX-кабели</a>
          </li>
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Зарядные устройства и адаптеры питания</a>
          </li>
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Кейсы, бамперы, чехлы</a>
          </li>   
          <li class="mainMenu_item">
            <a href="/" class="mainMenu_link">Стереогарнитуры и колонки</a>
          </li>      
        </ul>
      </li>

      <li class="mainMenu_item">
        <span class="mainMenu_link mainMenu_link__FL js-menuItemFirst">
          Поиск по устройству
          <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
        </span>

        <ul class="mainMenu_secondLevel">
          <li class="mainMenu_item js-menuReturnFirst">
            <span class="mainMenu_link mainMenu_link__current">
              <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Поиск по устройству
            </span>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Apple
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Apple
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Iphone</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Ipad</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">AirPods</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Samsung
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Samsung
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Galaxy A10</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Galaxy A9</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Galaxy Tab</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Honor
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Honor
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Iphone</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Ipad</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">AirPods</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Sony
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Sony
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Iphone</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Ipad</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">AirPods</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Huawei
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Huawei
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Iphone</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Ipad</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">AirPods</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Xiaomi
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Xiaomi
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Iphone</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Ipad</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">AirPods</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>

          <li class="mainMenu_item">
            <span class="mainMenu_link js-menuItemSecond">
              Другие
              <img src="img/arrow-right.svg" alt="arrow-right" class="mainMenu_arrowIcon">
            </span>
            <ul class="mainMenu_thirdLevel">
              <li class="mainMenu_item js-menuReturnSecond">
                <span class="mainMenu_link mainMenu_link__current">
                  <img src="img/arrow-back.svg" alt="arrow-back" class="mainMenu_arrowIcon mainMenu_arrowIcon__back">Другие
                </span>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Iphone</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Ipad</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">AirPods</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">MacBook</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Apple watch</a>
              </li>
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">iPod</a>
              </li>   
              <li class="mainMenu_item">
                <a href="/" class="mainMenu_link">Mac</a>
              </li>   
            </ul>
          </li>
        </ul>
      </li>
		</ul>
	</div>
</nav>
<div class="mainMenu_overlay"></div>