<div class="product_tabsBlock row d-flex d-sm-flex d-md-none d-lg-none">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <a href="#" class="product_tabsNavItem js-dropdown__trigger" data-toggle="mDescription">Описание</a>
        <div class="product_tabsContentDescription js-dropdown" data-toggle="mDescription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in
            culpa qui officia deserunt mollit anim id est laborum.
        </div>



        <a href="#" class="product_tabsNavItem js-dropdown__trigger js-dropdown__triggerActive" data-toggle="mOptions">Характеристики</a>
        <div class="product_tabsContentOptions js-dropdown" data-toggle="mOptions">
            <div class="row">
                <div class="product_tabsContentOptionsList col-lg-12 col-md-12 col-sm-12">
                    <ul class="list-unstyled">
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Плюс дней</span>
                            <span class="product_tabsContentOptionContent">5</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Тип чехла</span>
                            <span class="product_tabsContentOptionContent">Нет</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Материал кейса</span>
                            <span class="product_tabsContentOptionContent">Нет</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Цвет чехла</span>
                            <span class="product_tabsContentOptionContent">Нет</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Флагман</span>
                            <span class="product_tabsContentOptionContent">101107</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Полное название</span>
                            <span class="product_tabsContentOptionContent">Чехол Art Case для Apple
                                iPhone 6/6S, Nature_Горы, Deppa</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Штрих-код EAN-13</span>
                            <span class="product_tabsContentOptionContent">4670019243352</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Страна-производитель</span>
                            <span class="product_tabsContentOptionContent">Россия</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Код ТНВЭД</span>
                            <span class="product_tabsContentOptionContent">4202321000</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Срок службы</span>
                            <span class="product_tabsContentOptionContent">12</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Тип упаковки</span>
                            <span class="product_tabsContentOptionContent">коробка пластик</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Высота упаковки</span>
                            <span class="product_tabsContentOptionContent">15.4</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Ширина упаковки</span>
                            <span class="product_tabsContentOptionContent">8.5</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Глубина упаковки</span>
                            <span class="product_tabsContentOptionContent">1.5</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Вес изделия с упаковкой</span>
                            <span class="product_tabsContentOptionContent">0.053</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Количество потребительских
                                упаковок</span>
                            <span class="product_tabsContentOptionContent">100</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Объем мастер-бокса</span>
                            <span class="product_tabsContentOptionContent">0.0407</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Материал</span>
                            <span class="product_tabsContentOptionContent">PC</span>
                        </li>
                        <li class="product_tabsContentOption">
                            <span class="product_tabsContentOptionTitle">Название цвета</span>
                            <span class="product_tabsContentOptionContent">Nature_Горы</span>
                        </li>
                    </ul>                    
                </div>
                <div class="product_tabsContentSpecification col-lg-12 col-md-12 col-sm-12">
                    <span class="product_tabsContentSpecificationLink" data-toggle="modal"
                        data-target="#specificationMob">
                        Смотреть спецификации
                    </span>
                    <div class="product_tabsContentSpecificationModal modal fade" id="specificationMob" tabindex="-1"
                        role="dialog" aria-labelledby="specificationLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header product_tabsContentSpecificationHeader">
                                    <h5 class="modal-title" id="specificationLabel">Спецификации
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body table-responsive product_tabsContentSpecificationContent">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Артикул</th>
                                                <th scope="col">Наименование</th>
                                                <th scope="col">Штрих-код EAN-13</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">101171</td>
                                                <td>Чехол Art Case для Apple iPhone 6/6S, Nature_Звезды, Deppa</td>
                                                <td>4680431010371</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">101133</td>
                                                <td>Чехол Art Case для Apple iPhone 7, Nature_Дерево, Deppa</td>
                                                <td>4680431010333</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">101140</td>
                                                <td>Чехол Art Case для Apple iPhone 7, Nature_Горы, Deppa</td>
                                                <td>4680431010340</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="product_tabsContentSpecificationFiles">
                                        <div class="product_tabsContentSpecificationFilesHeader">
                                            Фото
                                            <span
                                                class="product_tabsContentSpecificationFilesHeaderSeparator"></span>
                                            <a href="#">Скачать архив</a>
                                        </div>
                                        <ul class="product_tabsContentSpecificationFileList list-unstyled">
                                            <li class="product_tabsContentSpecificationFile">
                                                <a href="#">
                                                    <span class="product_tabsContentSpecificationFileImage">
                                                        <img src="img/page_files_product/specFile1.png"
                                                            alt="101171_1.png">
                                                    </span>
                                                    <span
                                                        class="product_tabsContentSpecificationFileName">101171_1.png</span>
                                                </a>
                                            </li>
                                            <li class="product_tabsContentSpecificationFile">
                                                <a href="#">
                                                    <span class="product_tabsContentSpecificationFileImage">
                                                        <img src="img/page_files_product/specFile2.png"
                                                            alt="101171_1.png">
                                                    </span>
                                                    <span
                                                        class="product_tabsContentSpecificationFileName">101171_1.png</span>
                                                </a>
                                            </li>
                                            <li class="product_tabsContentSpecificationFile">
                                                <a href="#">
                                                    <span class="product_tabsContentSpecificationFileImage">
                                                        <img src="img/page_files_product/specFile3.png"
                                                            alt="101171_1.png">
                                                    </span>
                                                    <span
                                                        class="product_tabsContentSpecificationFileName">101171_1.png</span>
                                                </a>
                                            </li>
                                            <li class="product_tabsContentSpecificationFile">
                                                <a href="#">
                                                    <span class="product_tabsContentSpecificationFileImage">
                                                        <img src="img/page_files_product/specFile4.png"
                                                            alt="101171_spec.png">
                                                    </span>
                                                    <span
                                                        class="product_tabsContentSpecificationFileName">101171_spec.png</span>
                                                </a>
                                            </li>
                                            <li class="product_tabsContentSpecificationFile">
                                                <a href="#">
                                                    <span class="product_tabsContentSpecificationFileImage">
                                                        <img src="img/page_files_product/specFile5.png"
                                                            alt="101171_spec.png">
                                                    </span>
                                                    <span
                                                        class="product_tabsContentSpecificationFileName">101171_spec.png</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_tabsContentOptionsBarcode col-lg-12 col-md-12 col-sm-12">
                    <img src="img/page_files_product/barcode.png" alt="4670019243352">
                </div>
            </div>
        </div>




        <a href="#" class="product_tabsNavItem js-dropdown__trigger" data-toggle="mReviews">
            <span class="product_tabsNavItemReviewsNumber">92</span> отзыва</a>

            <div class="product_tabsContentReviews js-dropdown" data-toggle="mReviews">
                <ul class="product_tabsContentReviewsList list-unstyled m-0">
                    <li class="product_tabsContentReview">
                        <div class="product_tabsContentReviewInfo">
                            <div class="product_tabsContentReviewInfoLeft">
                                <div class="product_tabsContentReviewPhoto">
                                    <img src="img/page_files_product/customer1.png" alt="Хуснутдинов Рустем">
                                </div>
                            </div>
                            <div class="product_tabsContentReviewInfoRight">
                                <div class="product_tabsContentReviewName">
                                    Хуснутдинов Рустем
                                </div>
                                <div class="product_tabsContentReviewRating">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                </div>
                                <div class="product_tabsContentReviewDate">
                                    23 августа 2019, 19:20
                                </div>
                            </div>
                        </div>
                        <div class="product_tabsContentReviewText">
                            Очень нравиться пауэрбанк! Спасибо! Заряжаю его от зарядника MacBook Pro 2018 -
                            заряжается очень быстро. Как советовали сотрудники ReStore. У меня вопрос -
                            иногда в поездках нужно заряжать одновременно и пауэрбанк и устройства но
                            розетка одна - могу ли я заряжать и пауэрбанк и включить в него сразу в usb
                            входы телефоны? (Поддерживается ли сквозная зарядка?)
                        </div>
                    </li>
                    <li class="product_tabsContentReview">
                        <div class="product_tabsContentReviewInfo">
                            <div class="product_tabsContentReviewInfoLeft">
                                <div class="product_tabsContentReviewPhoto">
                                    <img src="img/customer_placeholder.svg" alt="Константинов Алексей">
                                </div>
                            </div>
                            <div class="product_tabsContentReviewInfoRight">
                                <div class="product_tabsContentReviewName">
                                    Константинов Алексей
                                </div>
                                <div class="product_tabsContentReviewRating">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                </div>
                                <div class="product_tabsContentReviewDate">
                                    22 августа 2019, 16:20
                                </div>
                            </div>
                        </div>
                        <div class="product_tabsContentReviewText">
                            Очень крутая вещь, предыдущий Deppa прослужил больше 4 лет!!! В реальности ещё
                            лучше!
                        </div>
                    </li>
                    <li class="product_tabsContentReview">
                        <div class="product_tabsContentReviewInfo">
                            <div class="product_tabsContentReviewInfoLeft">
                                <div class="product_tabsContentReviewPhoto">
                                    <img src="img/page_files_product/customer2.png" alt="Ефремова Анастасия">
                                </div>
                            </div>
                            <div class="product_tabsContentReviewInfoRight">
                                <div class="product_tabsContentReviewName">
                                    Ефремова Анастасия
                                </div>
                                <div class="product_tabsContentReviewRating">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_golden.svg">
                                    <img src="img/star_grey.svg">
                                    <img src="img/star_grey.svg">
                                </div>
                                <div class="product_tabsContentReviewDate">
                                    20 августа 2019, 15:44
                                </div>
                            </div>
                        </div>
                        <div class="product_tabsContentReviewText">
                            За 5 часов не зарядился ни на одно деление.
                        </div>
                        <div class="product_tabsContentReviewResponse">
                            <div class="product_tabsContentReviewResponseHeader">
                                Ответ от DEPPA:
                            </div>
                            Для экономии времени заряда Внешнего аккумулятора NRG Station рекомендуем
                            использовать зарядные устройства с поддержкой технологии Power Delivery, т.к.
                            емкость аккумулятора большая, время заряда обычным 2А зарядным устройством будет
                            достаточно большое. Зарядные устройства от MacBook оснащены технологией Power
                            Delivery, так что оно прекрасно подойдет для данного внешнего аккумулятора.
                        </div>
                    </li>
                </ul>
                <div class="product_tabsContentReviewsForm">
                    <div class="product_tabsContentReviewsFormTitle">
                        Написать отзыв
                    </div>
                    <div class="product_tabsContentReviewsFormLoginlink">
                        Уже зарегистрированы? <a href="#">Войдите</a>
                    </div>
                    <div class="row">
                        <form class="col-lg-8 col-md-8 col-sm-12">
                            <div class="form-row align-items-center">
                                <div class="form-group floating-label col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="floating-input form-control" id="reviewsFormInputName"
                                        required>
                                    <label for="reviewsFormInputName">Ваше имя</label>
                                </div>
                                <div class="form-group floating-label col-lg-4 col-md-4 col-sm-12">
                                    <input type="email" class="floating-input form-control" id="reviewsFormInputEmail"
                                        required>
                                    <label for="reviewsFormInputEmail">Электронная почта</label>
                                </div>
                                <div class="form-group floating-label col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="floating-input form-control" id="reviewsFormInputPhone"
                                        required>
                                    <label for="reviewsFormInputPhone">Номер телефона</label>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group floating-label col-lg-12 col-md-12 col-sm-12">
                                    <textarea class="floating-input form-control" id="reviewsFormInputReview" rows="4"
                                        required></textarea>
                                    <label for="reviewsFormInputReview">Комментарий</label>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group form-group__submit col-lg-4 col-md-4 col-sm-12">
                                    <button type="submit" class="btn btn-dark w-100">
                                        Отправить
                                    </button>
                                    <span class="form-group__submitDescription w-100">
                                        Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">условиями
                                            обработки</a> персональных данных
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>





        <a href="#" class="product_tabsNavItem js-dropdown__trigger" data-toggle="mShipping">Доставка от <span
                class="product_tabsNavItemShippingPrice">120
                <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
        </a>

        <div class="product_tabsContentShipping js-dropdown" data-toggle="mShipping">
            <form class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="product_tabsContentShippingBlock col-lg-12 col-md-12 col-sm-12">
                            <div class="product_tabsContentShippingBlockHeader">Как доставить</div>
                            <ul class="product_tabsContentShippingPlaceList row list-unstyled">
                                <li class="product_tabsContentShippingPlace col-lg-4 col-md-4 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingPlace1" name="productShippingPlace">
                                        <div class="product_tabsContentShippingPlaceInfo w-100">
                                            <div class="product_tabsContentShippingPlaceTitle">
                                                Курьером до квартиры
                                            </div>
                                            <div class="product_tabsContentShippingPlaceTime">
                                                2 часа - 2 дня
                                            </div>
                                            <div class="product_tabsContentShippingPlaceCost">
                                                210 <img class="rouble" src="img/rouble.svg" alt="rouble"> - 500 <img
                                                    class="rouble" src="img/rouble.svg" alt="rouble">
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentShippingPlace col-lg-4 col-md-4 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingPlace2" name="productShippingPlace">
                                        <div class="product_tabsContentShippingPlaceInfo w-100">
                                            <div class="product_tabsContentShippingPlaceTitle">
                                                До пункта выдачи
                                            </div>
                                            <div class="product_tabsContentShippingPlaceTime">
                                                1 день
                                            </div>
                                            <div class="product_tabsContentShippingPlaceCost">
                                                210 <img class="rouble" src="img/rouble.svg" alt="rouble"> - 500 <img
                                                    class="rouble" src="img/rouble.svg" alt="rouble">
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentShippingPlace col-lg-4 col-md-4 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingPlace3" name="productShippingPlace">
                                        <div class="product_tabsContentShippingPlaceInfo w-100">
                                            <div class="product_tabsContentShippingPlaceTitle">
                                                Почтой
                                            </div>
                                            <div class="product_tabsContentShippingPlaceTime">
                                                1-3 дня
                                            </div>
                                            <div class="product_tabsContentShippingPlaceCost">
                                                210 <img class="rouble" src="img/rouble.svg" alt="rouble"> - 500 <img
                                                    class="rouble" src="img/rouble.svg" alt="rouble">
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="product_tabsContentShippingBlock col-lg-8 col-md-8 col-sm-12">
                            <div class="product_tabsContentShippingBlockHeader">Чем доставить</div>
                            <ul class="product_tabsContentShippingCompanyList row list-unstyled">
                                <li class="product_tabsContentShippingCompany col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingCompany1" name="productShippingCompany">
                                        <div class="product_tabsContentShippingCompanyInfo w-100">
                                            <div class="product_tabsContentShippingCompanyImage">
                                                <img src="img/shipping_department.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentShippingCompanyTitle">
                                                    Отдел доставки
                                                </div>
                                                <div class="product_tabsContentShippingCompanyTimeCost">
                                                    <span class="product_tabsContentShippingCompanyTime">
                                                        1 день
                                                    </span>
                                                    <span
                                                        class="product_tabsContentShippingCompanyTimeCostSeparator"></span>
                                                    <span class="product_tabsContentShippingCompanyCost">
                                                        210 <img class="rouble" src="img/rouble.svg" alt="rouble">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentShippingCompany col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingCompany2" name="productShippingCompany">
                                        <div class="product_tabsContentShippingCompanyInfo w-100">
                                            <div class="product_tabsContentShippingCompanyImage">
                                                <img src="img/gett.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentShippingCompanyTitle">
                                                    Gett
                                                </div>
                                                <div class="product_tabsContentShippingCompanyTimeCost">
                                                    <span class="product_tabsContentShippingCompanyTime">
                                                        2 часа
                                                    </span>
                                                    <span
                                                        class="product_tabsContentShippingCompanyTimeCostSeparator"></span>
                                                    <span class="product_tabsContentShippingCompanyCost">
                                                        500 <img class="rouble" src="img/rouble.svg" alt="rouble">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentShippingCompany col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingCompany3" name="productShippingCompany">
                                        <div class="product_tabsContentShippingCompanyInfo w-100">
                                            <div class="product_tabsContentShippingCompanyImage">
                                                <img src="img/boxberry.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentShippingCompanyTitle">
                                                    Boxberry
                                                </div>
                                                <div class="product_tabsContentShippingCompanyTimeCost">
                                                    <span class="product_tabsContentShippingCompanyTime">
                                                        2 дня
                                                    </span>
                                                    <span
                                                        class="product_tabsContentShippingCompanyTimeCostSeparator"></span>
                                                    <span class="product_tabsContentShippingCompanyCost">
                                                        321 <img class="rouble" src="img/rouble.svg" alt="rouble">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentShippingCompany col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productShippingCompany4" name="productShippingCompany">
                                        <div class="product_tabsContentShippingCompanyInfo w-100">
                                            <div class="product_tabsContentShippingCompanyImage">
                                                <img src="img/sdek.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentShippingCompanyTitle">
                                                    СДЭК
                                                </div>
                                                <div class="product_tabsContentShippingCompanyTimeCost">
                                                    <span class="product_tabsContentShippingCompanyTime">
                                                        2 дня
                                                    </span>
                                                    <span
                                                        class="product_tabsContentShippingCompanyTimeCostSeparator"></span>
                                                    <span class="product_tabsContentShippingCompanyCost">
                                                        265 <img class="rouble" src="img/rouble.svg" alt="rouble">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="product_tabsContentShippingBlock col-lg-9 col-md-12 col-sm-12">
                            <div class="product_tabsContentShippingBlockHeader">Детали доставки</div>
                            <div class="row product_tabsContentShippingDetails">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-row align-items-center">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <select class="form-control filled custom-select"
                                                id="shippingFormSelectTime" required>
                                                <option>10:00 - 14:00</option>
                                                <option>14:00 - 18:00</option>
                                                <option>18:00 - 22:00</option>
                                            </select>
                                            <label for="shippingFormSelectTime">Время доставки</label>
                                        </div>
                                    </div>
                                    <div class="form-row align-items-center">
                                        <div class="form-group floating-label col-lg-12 col-md-12 col-sm-12">
                                            <input type="text" class="floating-input form-control"
                                                id="shippingFormInputTown" required>
                                            <label for="shippingFormInputTown">Город / населенный
                                                пункт</label>
                                        </div>
                                    </div>
                                    <div class="form-row align-items-center">
                                        <div class="form-group floating-label col-lg-8 col-md-8 col-sm-12">
                                            <input type="text" class="floating-input form-control"
                                                id="shippingFormInputTownInputAddress" required>
                                            <label for="shippingFormInputTownInputAddress">Адрес</label>
                                        </div>
                                        <div class="form-group floating-label col-lg-4 col-md-4 col-sm-12">
                                            <input type="text" class="floating-input form-control"
                                                id="shippingFormInputApartment" required>
                                            <label for="shippingFormInputApartment">Кв. / Офис</label>
                                        </div>
                                    </div>
                                    <div class="form-row align-items-center">
                                        <div class="form-group floating-label col-lg-12 col-md-12 col-sm-12">
                                            <textarea class="floating-input form-control" id="shippingFormInputComment"
                                                rows="4" required></textarea>
                                            <label for="shippingFormInputComment">Комментарий</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <img src="img/page_files_product/yamap_placeholder.png"
                                        style="pointer-events: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>




        <a href="#" class="product_tabsNavItem js-dropdown__trigger"  data-toggle="mCheckout">Оплата</a>

        <div class="product_tabsContentCheckout js-dropdown" data-toggle="mCheckout">
            <form class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="product_tabsContentPaymentBlock col-lg-8 col-md-8 col-sm-12">
                            <ul class="product_tabsContentPaymentMethodList row list-unstyled">
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod1" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/delivery.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    При получении
                                                </div>
                                                <div class="product_tabsContentPaymentMethodComment">
                                                    Наличными или картой
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod2" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/creditcard.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    Банковская карта
                                                </div>
                                                <div class="product_tabsContentPaymentMethodComment">
                                                    Онлайн скидка 2%
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod3" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/sberbank.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    Сбербанк-онлайн
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod4" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/alfabank.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    Альфа-клик
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod5" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/yandexmoney.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    Яндекс-деньги
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod6" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/qiwi.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    QIWI-кошелек
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod7" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/webmoney.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    Webmoney
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li class="product_tabsContentPaymentMethod col-lg-6 col-md-6 col-sm-12">
                                    <label class="w-100">
                                        <input type="radio" id="productPaymentMethod8" name="productPaymentMethod">
                                        <div class="product_tabsContentPaymentMethodInfo w-100">
                                            <div class="product_tabsContentPaymentMethodImage">
                                                <img src="img/bill.svg">
                                            </div>
                                            <div>
                                                <div class="product_tabsContentPaymentMethodTitle">
                                                    Счет для юр. лиц
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>




    </div>
</div>