<div class="swiper-container">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct1.png" title="Внешний аккумулятор NRG Power 5000 mAh, 2.1A">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 33537</div>
          <a href="#" class="productCarousel_productsTileItemTitle">Внешний аккумулятор NRG Power 5000 mAh, 2.1A</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">1 090 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <button class="btn btn-outline-dark">В корзину</button>
              <button class="btn btn-dark">
                <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </button>
          </div>
          </div>
          </form>
      </div>

    </div>
    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct2.png" title="Магнитный автомобильный держатель Mage One">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 55151</div>
          <a href="#" class="productCarousel_productsTileItemTitle">Магнитный автомобильный держатель Mage One</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">890 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>
    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct3.png" title="АЗУ USB Quick Charge 3.0">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 11286</div>
          <a href="#" class="productCarousel_productsTileItemTitle">АЗУ USB Quick Charge 3.0</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">890 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>
    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct4.png" title="Дата-кабель USB - 8-pin для Apple, витой">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 72120</div>
          <a href="#" class="productCarousel_productsTileItemTitle">Дата-кабель USB - 8-pin для Apple, витой</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">1 190 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>

    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct1.png" title="Внешний аккумулятор NRG Power 5000 mAh, 2.1A">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 33537</div>
          <a href="#" class="productCarousel_productsTileItemTitle">Внешний аккумулятор NRG Power 5000 mAh, 2.1A</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">1 090 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>
    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct2.png" title="Магнитный автомобильный держатель Mage One">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 55151</div>
          <a href="#" class="productCarousel_productsTileItemTitle">Магнитный автомобильный держатель Mage One</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">890 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>
    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct3.png" title="АЗУ USB Quick Charge 3.0">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 11286</div>
          <a href="#" class="productCarousel_productsTileItemTitle">АЗУ USB Quick Charge 3.0</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">890 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>
    <div class="swiper-slide">
        
      <div class="productCarousel_productsTileItem text-center w-100 m-0">
          <a href="#" class="productCarousel_productsTileItemImage">
          <img src="img/page_files_product/additionalProduct4.png" title="Дата-кабель USB - 8-pin для Apple, витой">
          </a>
          <form>
          <div class="productCarousel_productsTileItemSku">Арт 72120</div>
          <a href="#" class="productCarousel_productsTileItemTitle">Дата-кабель USB - 8-pin для Apple, витой</a>
          <div class="productCarousel_productsTileItemBottom">
          <div class="productCarousel_productsTileItemPrice">1 190 ₽</div>
          <div class="productCarousel_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">В корзину</a>
              <a href="#" type="button" class="btn btn-dark">
              <img src="img/apple.svg" class="productCarousel_productsTileItemButtonsIcon" alt="">
              <img src="img/pay.svg" alt="Pay">
              </a>
          </div>
          </div>
          </form>
      </div>

    </div>

  </div>                            
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>                      

<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    spaceBetween: 10,
    // init: false,
    // pagination: {
    //     el: '.swiper-pagination',
    //     clickable: true,
    // },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 50,
      },
    }
  });
  </script>