<section class="promotions">
  <ul class="promotions_list container">
    <li class="promotions_listItem row">
      <div class="promotions_listItemText col-12 col-md-6">
        <span class="promotions_listItemDate">Акция действует до 31.12.2019</span>
        <h3 class="promotions_listItemTitle">20% на стильные кабели от Deppa</h3>
        <p class="promotions_listItemDesc">
          Как отличить стильного человека? Говорят, что дьявол кроется в мелочах. 
          Например, кабель для зарядки вашего смартфона в джинсовой, кожаной или металлической оплетке. 
          Тем более, мы предоставляем гарантию на них в течении 1 года.
        </p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="promotions_listItemBtn btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg col-12 col-md-6">
        <img src="img/promo1.png" alt="">
      </div>
    </li>
    <li class="promotions_listItem row">
      <div class="promotions_listItemText col-12 col-md-6">
        <span class="promotions_listItemDate">Акция действует до 31.12.2019</span>
        <h3 class="promotions_listItemTitle">25% скидка на беспроводные зарядные устройства</h3>
        <p class="promotions_listItemDesc">
          Больше никаких проводов для зарядки вашего смартфона. А теперь еще и со скидкой!
        </p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="promotions_listItemBtn btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg col-12 col-md-6">
        <img src="img/promo2.png" alt="">
      </div>
    </li>
    <li class="promotions_listItem row">
      <div class="promotions_listItemText col-12 col-md-6">
        <span class="promotions_listItemDate">Акция действует до 31.12.2019</span>
        <h3 class="promotions_listItemTitle">Скидка 20% на внешние аккумуляторы. Путешествуй в удовольствие!</h3>
        <p class="promotions_listItemDesc">
          Внешние аккумуляторы Deppa помогут вам путешествовать без постоянного поиска розетки для вашего телефона или ноутбука.
        </p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="promotions_listItemBtn btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg col-12 col-md-6">
        <img src="img/promo3.png" alt="">
      </div>
    </li>
    <li class="promotions_listItem row">
      <div class="promotions_listItemText col-12 col-md-6">
        <span class="promotions_listItemDate">Акция действует до 31.12.2019</span>
        <h3 class="promotions_listItemTitle">Скидка 20% на зарядные устройства с Quick Charge 3.0</h3>
        <p class="promotions_listItemDesc">
          Технология Quick Charge 3.0 позволяет заряжать совместимые устройства с 0% до 80% всего за 35 минут. Зарядные устройства Deppa дома, на работе или в автомобиле — и вы всегда на связи.</p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="promotions_listItemBtn btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg col-12 col-md-6">
        <img src="img/promo4.png" alt="">
      </div>
    </li>
    <li class="promotions_listItem row">
      <div class="promotions_listItemText col-12 col-md-6">
        <span class="promotions_listItemDate">Акция действует до 31.12.2019</span>
        <h3 class="promotions_listItemTitle">30% на немецкие премиальные чехлы</h3>
        <p class="promotions_listItemDesc">
          Black Rock — 1 год в России! В честь дня рождения дарим всем скидку 30% на немецкие чехлы. Уникальный дизайн и приятное покрытие сочетается с современными противоударными технологиями. 100% Германия.
        </p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="promotions_listItemBtn btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg col-12 col-md-6">
        <img src="img/promo5.png" alt="">
      </div>
    </li>
  </ul>
</section>