<section class="promotions">
  <ul class="promotions_list">
    <li class="promotions_listItem">
      <div class="promotions_listItemText">
        <span>Акция действует до 31.12.2019</span>
        <h3>20% на стильные кабели от Deppa</h3>
        <p>
          Как отличить стильного человека? Говорят, что дьявол кроется в мелочах. 
          Например, кабель для зарядки вашего смартфона в джинсовой, кожаной или металлической оплетке. 
          Тем более, мы предоставляем гарантию на них в течении 1 года.
        </p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg">
        <img src="img/promo1.jpg" alt="promo1">
      </div>
    </li>
    <li class="promotions_listItem">
      <div class="promotions_listItemText">
        <span>Акция действует до 31.12.2019</span>
        <h3>20% на стильные кабели от Deppa</h3>
        <p>
          Как отличить стильного человека? Говорят, что дьявол кроется в мелочах. 
          Например, кабель для зарядки вашего смартфона в джинсовой, кожаной или металлической оплетке. 
          Тем более, мы предоставляем гарантию на них в течении 1 года.
        </p>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <button type="button" class="btn btn-lg btn-primary w-100">Выбрать</button>
          </div>
        </div>
      </div>
      <div class="promotions_listItemImg">
        <img src="img/promo1.jpg" alt="promo1">
      </div>
    </li>
  </ul>
</section>