<section class="searchBar d-flex justify-content-between align-items-center">
  <ul class="searchBar_nav js-searchBarNav">
    <li class="searchBar_navItem searchBar_navItem__hasChildren">
      <span class="searchBar_navItemLink js-catalog">Каталог</span>
      <div class="searchBar_catalogWrapper">
        <ul class="searchBar_priorityBrands">
          <li class="searchBar_priorityBrandsItem">
            <a href="/" class="searchBar_priorityBrandsItemLink">
              <img src="img/br.png" alt="Black Rock">
            </a>
          </li>
          <li class="searchBar_priorityBrandsItem">
            <a href="/" class="searchBar_priorityBrandsItemLink">
              <img src="img/wd.png" alt="White Diamond">
            </a>
          </li>
          <li class="searchBar_priorityBrandsItem">
            <a href="/" class="searchBar_priorityBrandsItemLink">
              <img src="img/sen.png" alt="Sennheiser">
            </a>
          </li>
        </ul>
        <ul class="searchBar_catalog">
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_1.png" alt="catalog_1">
              <span class="searchBar_catalogItemName">Защитные стекла и пленки</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_2.png" alt="catalog_2">
              <span class="searchBar_catalogItemName">Адаптеры и картридеры</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_3.png" alt="catalog_3">
              <span class="searchBar_catalogItemName">Автомобильные держатели</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_4.png" alt="catalog_4">
              <span class="searchBar_catalogItemName">Внешние аккумуляторы</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_5.png" alt="catalog_5">
              <span class="searchBar_catalogItemName">Дата-кабели и AUX-кабели</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_6.png" alt="catalog_6">
              <span class="searchBar_catalogItemName">Зарядные устройства и адаптеры питания</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_7.png" alt="catalog_7">
              <span class="searchBar_catalogItemName">Кейсы, бамперы, чехлы</span>
            </a>
          </li>
          <li class="searchBar_catalogItem">
            <a href="" class="searchBar_catalogItemLink">
              <img src="img/catalog_8.png" alt="catalog_8">
              <span class="searchBar_catalogItemName">Стереогарнитуры и колонки</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="searchBar_navItem searchBar_navItem__hasChildren">
      <span class="searchBar_navItemLink js-catalog">По устройству</span>
      <div class="searchBar_catalogWrapper">
        <ul class="searchBar_devices">
          <li class="searchBar_devicesBrand active" data-id="apple">
            <span class="searchBar_devicesBrandTab">
              <img src="img/apple.png" alt="Apple">
            </span>
          </li>
  
          <li class="searchBar_devicesBrand" data-id="samsung">
            <span class="searchBar_devicesBrandTab">
              <img src="img/samsung.png" alt="Samsung">
            </span>
          </li>
  
          <li class="searchBar_devicesBrand" data-id="honor">
            <span class="searchBar_devicesBrandTab">
              <img src="img/honor.png" alt="Honor">
            </span>
          </li>
  
          <li class="searchBar_devicesBrand" data-id="sony">
            <span class="searchBar_devicesBrandTab">
              <img src="img/sony.png" alt="Sony">
            </span>
          </li>
  
          <li class="searchBar_devicesBrand" data-id="huawei">
            <span class="searchBar_devicesBrandTab">
              <img src="img/huawei.png" alt="Huawei">
            </span>
          </li>
  
          <li class="searchBar_devicesBrand" data-id="xiaomi">
            <span class="searchBar_devicesBrandTab">
              <img src="img/xiaomi.png" alt="Xiaomi">
            </span>
          </li>
  
          <li class="searchBar_devicesBrand" data-id="others">
            <span class="searchBar_devicesBrandTab">
              Другие
            </span>
          </li>
        </ul>

        <ul class="searchBar_devicesList active" data-id="apple">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem" data-id="iPhone">
            <span class="searchBar_devicesListItemLink">Iphone</span>
          </li>
          <li class="searchBar_devicesListItem" data-id="iPad">
            <span class="searchBar_devicesListItemLink">Ipad</span>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">AirPods</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">iPod</a>
          </li>   
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Mac</a>
          </li>
          <li class="searchBar_devicesListItem searchBar_devicesListItem__model">
            <ul class="searchBar_devicesList searchBar_devicesList__model" data-id="iPhone">
              <li class="searchBar_devicesListItemName">Модель:</li>
              <li class="searchBar_devicesListItem searchBar_devicesListItem__inner">
                <a href="/" class="searchBar_devicesListItemLink searchBar_devicesListItemLink__inner">iPhone XS</a>
              </li>
              <li class="searchBar_devicesListItem searchBar_devicesListItem__inner">
                <a href="/" class="searchBar_devicesListItemLink searchBar_devicesListItemLink__inner">iPhone XS Max</a>
              </li>   
              <li class="searchBar_devicesListItem searchBar_devicesListItem__inner">
                <a href="/" class="searchBar_devicesListItemLink searchBar_devicesListItemLink__inner">iPhone XR</a>
              </li>
            </ul>
          </li>
          <li class="searchBar_devicesListItem searchBar_devicesListItem__model">
            <ul class="searchBar_devicesList searchBar_devicesList__model" data-id="iPad">
              <li class="searchBar_devicesListItemName">Модель:</li>
              <li class="searchBar_devicesListItem searchBar_devicesListItem__inner">
                <a href="/" class="searchBar_devicesListItemLink searchBar_devicesListItemLink__inner">iPad Pro</a>
              </li>
              <li class="searchBar_devicesListItem searchBar_devicesListItem__inner">
                <a href="/" class="searchBar_devicesListItemLink searchBar_devicesListItemLink__inner">iPad Mini</a>
              </li>   
            </ul>
          </li>
        </ul>

        <ul class="searchBar_devicesList" data-id="samsung">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Galaxy A9</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Galaxy A10</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Galaxy Tab</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">iPod</a>
          </li>   
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Mac</a>
          </li>   
        </ul>

        <ul class="searchBar_devicesList" data-id="honor">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Something</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Ipad</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">AirPods</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li> 
        </ul>

        <ul class="searchBar_devicesList" data-id="sony">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Something</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Ipad</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">AirPods</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li> 
        </ul>

        <ul class="searchBar_devicesList" data-id="huawei">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Something</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Ipad</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">AirPods</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li> 
        </ul>

        <ul class="searchBar_devicesList" data-id="xiaomi">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Something</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Ipad</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">AirPods</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li> 
        </ul>

        <ul class="searchBar_devicesList" data-id="others">
          <li class="searchBar_devicesListItemName">Устройство:</li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Something</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Ipad</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">AirPods</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">MacBook</a>
          </li>
          <li class="searchBar_devicesListItem">
            <a href="/" class="searchBar_devicesListItemLink">Apple watch</a>
          </li> 
        </ul>
      </div>  
    </li>
    <li class="searchBar_navItem">
      <a href="/Deppa/assets/build/catalog.html" class="searchBar_navItemLink">Акции</a>
    </li>
  </ul>
  <span class="searchBar_closeMobile">
    <img src="img/cross.svg" class="js-searchClear" alt="close">
  </span>
  <input type="text" class="searchBar_searchInput js-searchInput" placeholder="Поиск по названию или артикулу">
  <div class="searchBar_searchResults js-searchResults">
    <div class="searchBar_searchResultsLine d-flex align-items-center">
      <span class="searchBar_searchResultsCount">134 результата</span>
      <a href="/" class="searchBar_searchResultsLink">Все результаты</a>
    </div>
    <div class="catalog_products">

      <ul class="catalog_productsTile catalog_productsTile__search list-unstyled">
        <li class="catalog_productsTileItem text-center catalog_productsTileItem__special" data-special="Новинка">
          <a href="/Deppa/assets/build/product.html" class="catalog_productsTileItemImage">
            <img src="img/page_files_catalog/product1.png" title="Чехол Art Nature для iPhone 6/6S" alt="Чехол Art Nature для iPhone 6/6S">
          </a>
          <form>
          <div class="catalog_productsTileItemVariations">
            <label>
              <input type="radio" id="product1tileVariation1" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation1.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product1tileVariation2" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation2.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product1tileVariation3" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation3.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product1tileVariation4" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation4.png" alt="">
              </span>
            </label>
          </div>
          <div class="catalog_productsTileItemSku">Арт 101108</div>
          <a href="/Deppa/assets/build/product.html" class="catalog_productsTileItemTitle">Чехол Art Nature для iPhone 6/6S</a>
          <div class="catalog_productsTileItemBottom">
            <div class="catalog_productsTileItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></div>
            <div class="catalog_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
              <a href="#" type="button" class="btn btn-dark">
                <img src="img/apple.svg" class="catalog_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </a>
            </div>
          </div>
          </form>
        </li>
        <li class="catalog_productsTileItem text-center catalog_productsTileItem__special" data-special="Акция">
          <a href="#" class="catalog_productsTileItemImage">
            <img src="img/page_files_catalog/product2.png" title="Чехол Gel для iPhone 6 Plus/6S Plus и еще одна строчка для примера отображения" alt="Чехол Gel для iPhone 6 Plus/6S Plus и еще одна строчка для примера отображения">
          </a>
          <form>
          <div class="catalog_productsTileItemVariations">
            <label>
              <input type="radio" id="product2tileVariation1" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation1.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product2tileVariation2" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation2.png" alt="">
              </span>
            </label>
          </div>
          <div class="catalog_productsTileItemSku">Арт 85205</div>
          <a href="#" class="catalog_productsTileItemTitle">Чехол Gel для iPhone 6 Plus/6S Plus и еще одна строчка для примера отображения</a>
          <div class="catalog_productsTileItemBottom">
            <div class="catalog_productsTileItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></div>
            <div class="catalog_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
              <a href="#" type="button" class="btn btn-dark">
                <img src="img/apple.svg" class="catalog_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </a>
            </div>
          </div>
          </form>
        </li>
        <li class="catalog_productsTileItem text-center">
          <a href="#" class="catalog_productsTileItemImage">
            <img src="img/page_files_catalog/product3.png" title="Чехол Art Nature для iPhone 6/6S" alt="Чехол Art Nature для iPhone 6/6S">
          </a> 
          <form>                   
          <div class="catalog_productsTileItemVariations">
            <label>
              <input type="radio" id="product3tileVariation1" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation1.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product3tileVariation2" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation2.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product3tileVariation3" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation3.png" alt="">
              </span>
            </label>
          </div>
          <div class="catalog_productsTileItemSku">Арт 101111</div>
          <a href="#" class="catalog_productsTileItemTitle">Чехол Art Nature для iPhone 6/6S</a>
          <div class="catalog_productsTileItemBottom">
            <div class="catalog_productsTileItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></div>
            <div class="catalog_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
              <a href="#" type="button" class="btn btn-dark">
                <img src="img/apple.svg" class="catalog_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </a>
            </div>
          </div>
          </form>
        </li>
        <li class="catalog_productsTileItem text-center">
          <a href="#" class="catalog_productsTileItemImage">
            <img src="img/page_files_catalog/product4.png" title="Чехол Art для Samsung Galaxy S7 edge" alt="Чехол Art для Samsung Galaxy S7 edge">
          </a>
          <form> 
          <div class="catalog_productsTileItemVariations"></div>
          <div class="catalog_productsTileItemSku">Арт 102683</div>
          <a href="#" class="catalog_productsTileItemTitle">Чехол Art для Samsung Galaxy S7 edge</a>
          <div class="catalog_productsTileItemBottom">
            <div class="catalog_productsTileItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></div>
            <div class="catalog_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
              <a href="#" type="button" class="btn btn-dark">
                <img src="img/apple.svg" class="catalog_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </a>
            </div>
          </div>
          </form>
        </li>
        <li class="catalog_productsTileItem text-center">
          <a href="#" class="catalog_productsTileItemImage">
            <img src="img/page_files_catalog/product5.png" title="Чехол White Diamonds Liquids для iPhone X/XS" alt="Чехол White Diamonds Liquids для iPhone X/XS">
          </a> 
          <form>                    
          <div class="catalog_productsTileItemVariations">
            <label>
              <input type="radio" id="product5tileVariation1" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation1.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product5tileVariation2" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation2.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product5tileVariation3" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation3.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product5tileVariation4" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation4.png" alt="">
              </span>
            </label>
          </div>
          <div class="catalog_productsTileItemSku">Арт 11250</div>
          <a href="#" class="catalog_productsTileItemTitle">Чехол White Diamonds Liquids для iPhone X/XS</a>
          <div class="catalog_productsTileItemBottom">
            <div class="catalog_productsTileItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></div>
            <div class="catalog_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
              <a href="#" type="button" class="btn btn-dark">
                <img src="img/apple.svg" class="catalog_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </a>
            </div>
          </div>
          </form>
        </li>
        <li class="catalog_productsTileItem text-center">
          <a href="#" class="catalog_productsTileItemImage">
            <img src="img/page_files_catalog/product6.png" title="Clamshell Case для Samsung Galaxy J2" alt="Clamshell Case для Samsung Galaxy J2">
          </a> 
          <form>                   
          <div class="catalog_productsTileItemVariations">
            <label>
              <input type="radio" id="product6tileVariation1" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation1.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product6tileVariation2" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation2.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product6tileVariation3" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation3.png" alt="">
              </span>
            </label>
            <label>
              <input type="radio" id="product6tileVariation4" name="productVariation">
              <span class="catalog_productsTileItemVariation">
                <img src="img/page_files_catalog/variation4.png" alt="">
              </span>
            </label>
          </div>
          <div class="catalog_productsTileItemSku">Арт 86615</div>
          <a href="#" class="catalog_productsTileItemTitle">Чехол White Diamonds Liquids для iPhone X/XS</a>
          <div class="catalog_productsTileItemBottom">
            <div class="catalog_productsTileItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></div>
            <div class="catalog_productsTileItemButtons">
              <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
              <a href="#" type="button" class="btn btn-dark">
                <img src="img/apple.svg" class="catalog_productsTileItemButtonsIcon" alt="">
                <img src="img/pay.svg" alt="Pay">
              </a>
            </div>
          </div>
          </form>
        </li>
      </ul>
      
      <ul class="catalog_productsList list-unstyled">
        <li class="catalog_productsListItem catalog_productsListItem__special" data-special="Новинка">
            <a href="#" class="catalog_productsListItemImage">
                <img src="img/page_files_catalog/product1.png" title="Чехол Art Nature для iPhone 6/6S"
                    alt="Чехол Art Nature для iPhone 6/6S">
            </a>
            <form>
            <div class="catalog_productsListItemInfo">
                <div class="catalog_productsListItemSku">Арт 101108<span class="catalog_productsListItemSkuSeparator"></span>В наличии 466 шт.</div>
                <a href="#" class="catalog_productsListItemTitle">Чехол Art Nature для iPhone 6/6S</a>
                <div class="catalog_productsListItemVariations">
                  <label>
                    <input type="radio" id="product1listVariation1" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation1.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product1listVariation2" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation2.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product1listVariation3" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation3.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product1listVariation4" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation4.png" alt="">
                    </span>
                  </label>
                </div>

                <div class="catalog_productsListItemBottom">
                  <div class="catalog_productsListItemDescription">
                    Клип Кейс Art Nature для iPhone 6/6S в интернет-магазине Deppa.ru. Закажите уже сейчас! Профессиональная
                    консультация: 8 (800) 700 45 61. Доставка по РФ, отзывы, достойное качество.
                  </div>
                    <div class="catalog_productsListItemPriceBlock">
                      <span class="catalog_productsListItemInputCount js-inputCount">
                        <span class="minus"></span>
                        <input type="number" name="productsAmount" value="1" readonly>
                        <span class="plus"></span>
                      </span>
                      <span class="catalog_productsListItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
                      <span class="catalog_productsListItemBonus">+ 89 баллов</span>
                    </div>
                    <div class="catalog_productsListItemButtons">
                        <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
                        <a href="#" type="button" class="btn btn-dark">
                            <img src="img/apple.svg" class="catalog_productsListItemButtonsIcon" alt="">
                            <img src="img/pay.svg" alt="Pay">
                        </a>
                    </div>
                </div>
            </div>
          </form>
        </li>
        <li class="catalog_productsListItem catalog_productsListItem__special" data-special="Акция">
            <a href="#" class="catalog_productsListItemImage">
                <img src="img/page_files_catalog/product2.png"
                    title="Чехол Gel для iPhone 6 Plus/6S Plus и еще одна строчка для примера отображения"
                    alt="Чехол Gel для iPhone 6 Plus/6S Plus и еще одна строчка для примера отображения">
            </a>
            <form>
            <div class="catalog_productsListItemInfo">
              <div class="catalog_productsListItemSku">Арт 85205<span class="catalog_productsListItemSkuSeparator"></span>В наличии 466 шт.</div>
                <a href="#" class="catalog_productsListItemTitle">
                  Чехол Gel для iPhone 6 Plus/6S Plus и еще одна строчка для
                  примера отображения
                </a>
                <div class="catalog_productsListItemVariations">
                  <label>
                    <input type="radio" id="product2listVariation1" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation1.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product2listVariation2" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation2.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product2listVariation3" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation3.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product2listVariation4" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation4.png" alt="">
                    </span>
                  </label>
                </div>
                
                <div class="catalog_productsListItemBottom">
                  <div class="catalog_productsListItemDescription">
                    Клип Кейс Art Nature для iPhone 6/6S в интернет-магазине Deppa.ru. Закажите уже сейчас! Профессиональная
                    консультация: 8 (800) 700 45 61. Доставка по РФ, отзывы, достойное качество.
                  </div>
                    <div class="catalog_productsListItemPriceBlock">
                      <span class="catalog_productsListItemInputCount js-inputCount">
                        <span class="minus"></span>
                        <input type="number" name="productsAmount" value="1" readonly>
                        <span class="plus"></span>
                      </span>
                      <span class="catalog_productsListItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
                      <span class="catalog_productsListItemBonus">+ 89 баллов</span>
                    </div>
                    <div class="catalog_productsListItemButtons">
                        <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
                        <a href="#" type="button" class="btn btn-dark">
                            <img src="img/apple.svg" class="catalog_productsListItemButtonsIcon" alt="">
                            <img src="img/pay.svg" alt="Pay">
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </li>
        <li class="catalog_productsListItem">
            <a href="#" class="catalog_productsListItemImage">
                <img src="img/page_files_catalog/product3.png" title="Чехол Art Nature для iPhone 6/6S"
                    alt="Чехол Art Nature для iPhone 6/6S">
            </a>
            <form>
            <div class="catalog_productsListItemInfo">
              <div class="catalog_productsListItemSku">Арт 101111<span class="catalog_productsListItemSkuSeparator"></span>В наличии 466 шт.</div>
              <a href="#" class="catalog_productsListItemTitle">Чехол Art Nature для iPhone 6/6S</a>
                <div class="catalog_productsListItemVariations">
                  <label>
                    <input type="radio" id="product3listVariation1" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation1.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product3listVariation2" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation2.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product3listVariation3" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation3.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product3listVariation4" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation4.png" alt="">
                    </span>
                  </label>
                </div>
                
                <div class="catalog_productsListItemBottom">
                  <div class="catalog_productsListItemDescription">
                    Клип Кейс Art Nature для iPhone 6/6S в интернет-магазине Deppa.ru. Закажите уже сейчас! Профессиональная
                    консультация: 8 (800) 700 45 61. Доставка по РФ, отзывы, достойное качество.
                  </div>
                  <div class="catalog_productsListItemPriceBlock">
                    <span class="catalog_productsListItemInputCount js-inputCount">
                      <span class="minus"></span>
                      <input type="number" name="productsAmount" value="1" readonly>
                      <span class="plus"></span>
                    </span>
                    <span class="catalog_productsListItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
                    <span class="catalog_productsListItemBonus">+ 89 баллов</span>
                  </div>
                    <div class="catalog_productsListItemButtons">
                        <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
                        <a href="#" type="button" class="btn btn-dark">
                            <img src="img/apple.svg" class="catalog_productsListItemButtonsIcon" alt="">
                            <img src="img/pay.svg" alt="Pay">
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </li>
        <li class="catalog_productsListItem">
            <a href="#" class="catalog_productsListItemImage">
                <img src="img/page_files_catalog/product4.png" title="Чехол Art для Samsung Galaxy S7 edge"
                    alt="Чехол Art для Samsung Galaxy S7 edge">
            </a>
            <form>
            <div class="catalog_productsListItemInfo">
              <div class="catalog_productsListItemSku">Арт 102683<span class="catalog_productsListItemSkuSeparator"></span>В наличии 466 шт.</div>
              <a href="#" class="catalog_productsListItemTitle">Чехол Art для Samsung Galaxy S7 edge</a>
                <div class="catalog_productsListItemVariations">
                  <label>
                    <input type="radio" id="product4listVariation1" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation1.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product4listVariation2" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation2.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product4listVariation3" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation3.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product4listVariation4" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation4.png" alt="">
                    </span>
                  </label>
                </div>
                
                <div class="catalog_productsListItemBottom">
                  <div class="catalog_productsListItemDescription">
                    Клип Кейс Art Nature для iPhone 6/6S в интернет-магазине Deppa.ru. Закажите уже сейчас! Профессиональная
                    консультация: 8 (800) 700 45 61. Доставка по РФ, отзывы, достойное качество.
                  </div>
                  <div class="catalog_productsListItemPriceBlock">
                    <span class="catalog_productsListItemInputCount js-inputCount">
                      <span class="minus"></span>
                      <input type="number" name="productsAmount" value="1" readonly>
                      <span class="plus"></span>
                    </span>
                    <span class="catalog_productsListItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
                    <span class="catalog_productsListItemBonus">+ 89 баллов</span>
                  </div>
                    <div class="catalog_productsListItemButtons">
                        <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
                        <a href="#" type="button" class="btn btn-dark">
                            <img src="img/apple.svg" class="catalog_productsListItemButtonsIcon" alt="">
                            <img src="img/pay.svg" alt="Pay">
                        </a>
                    </div>
                </div>
            </div>
          </form>
        </li>
        <li class="catalog_productsListItem">
            <a href="#" class="catalog_productsListItemImage">
                <img src="img/page_files_catalog/product5.png" title="Чехол White Diamonds Liquids для iPhone X/XS"
                    alt="Чехол White Diamonds Liquids для iPhone X/XS">
            </a>
            <form>
            <div class="catalog_productsListItemInfo">
              <div class="catalog_productsListItemSku">Арт 11250<span class="catalog_productsListItemSkuSeparator"></span>В наличии 466 шт.</div>
              <a href="#" class="catalog_productsListItemTitle">Чехол White Diamonds Liquids для iPhone X/XS</a>
                <div class="catalog_productsListItemVariations">
                  <label>
                    <input type="radio" id="product5listVariation1" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation1.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product5listVariation2" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation2.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product5listVariation3" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation3.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product5listVariation4" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation4.png" alt="">
                    </span>
                  </label>
                </div>
                
                <div class="catalog_productsListItemBottom">
                  <div class="catalog_productsListItemDescription">
                    Клип Кейс Art Nature для iPhone 6/6S в интернет-магазине Deppa.ru. Закажите уже сейчас! Профессиональная
                    консультация: 8 (800) 700 45 61. Доставка по РФ, отзывы, достойное качество.
                  </div>
                  <div class="catalog_productsListItemPriceBlock">
                    <span class="catalog_productsListItemInputCount js-inputCount">
                      <span class="minus"></span>
                      <input type="number" name="productsAmount" value="1" readonly>
                      <span class="plus"></span>
                    </span>
                    <span class="catalog_productsListItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
                    <span class="catalog_productsListItemBonus">+ 89 баллов</span>
                  </div>
                    <div class="catalog_productsListItemButtons">
                        <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
                        <a href="#" type="button" class="btn btn-dark">
                            <img src="img/apple.svg" class="catalog_productsListItemButtonsIcon" alt="">
                            <img src="img/pay.svg" alt="Pay">
                        </a>
                    </div>
                </div>
            </div>
          </form>
        </li>
        <li class="catalog_productsListItem">
            <a href="#" class="catalog_productsListItemImage">
                <img src="img/page_files_catalog/product6.png" title="Clamshell Case для Samsung Galaxy J2"
                    alt="Clamshell Case для Samsung Galaxy J2">
            </a>
            <form>
            <div class="catalog_productsListItemInfo">
              <div class="catalog_productsListItemSku">Арт 86615<span class="catalog_productsListItemSkuSeparator"></span>В наличии 466 шт.</div>
              <a href="#" class="catalog_productsListItemTitle">Чехол White Diamonds Liquids для iPhone X/XS</a>
                <div class="catalog_productsListItemVariations">
                  <label>
                    <input type="radio" id="product6listVariation1" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation1.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product6listVariation2" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation2.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product6listVariation3" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation3.png" alt="">
                    </span>
                  </label>
                  <label>
                    <input type="radio" id="product6listVariation4" name="productVariation">
                    <span class="catalog_productsListItemVariation">
                      <img src="img/page_files_catalog/variation4.png" alt="">
                    </span>
                  </label>
                </div>
                
                <div class="catalog_productsListItemBottom">
                  <div class="catalog_productsListItemDescription">
                    Клип Кейс Art Nature для iPhone 6/6S в интернет-магазине Deppa.ru. Закажите уже сейчас! Профессиональная
                    консультация: 8 (800) 700 45 61. Доставка по РФ, отзывы, достойное качество.
                  </div>
                  <div class="catalog_productsListItemPriceBlock">
                    <span class="catalog_productsListItemInputCount js-inputCount">
                      <span class="minus"></span>
                      <input type="number" name="productsAmount" value="1" readonly>
                      <span class="plus"></span>
                    </span>
                    <span class="catalog_productsListItemPrice">890 <img class="rouble" src="img/rouble.svg" alt="rouble"></span>
                    <span class="catalog_productsListItemBonus">+ 89 баллов</span>
                  </div>
                    <div class="catalog_productsListItemButtons">
                        <a href="#" type="button" class="btn btn-outline-dark">Добавить в корзину</a>
                        <a href="#" type="button" class="btn btn-dark">
                            <img src="img/apple.svg" class="catalog_productsListItemButtonsIcon" alt="">
                            <img src="img/pay.svg" alt="Pay">
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </li>
      </ul>
      <div class="searchBar_searchResultsLine searchBar_searchResultsLine__mobile d-flex justify-content-center align-items-center">
        <a href="/" class="searchBar_searchResultsLink">Все результаты</a>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <span class="searchBar_search searchBar_search__desktop">
      <img src="img/search.svg" class="js-search" alt="search">
    </span>
    <span class="searchBar_search searchBar_search__mobile">
      <img src="img/search.svg" alt="search">
    </span>
    <span class="searchBar_close">
      <img src="img/cross.svg" class="js-searchClose" alt="close">
      <span class="searchBar_closeDivider"></span>
    </span>
    <span class="searchBar_cart" id="cart" data-cart-visible="visible">
      <img src="img/cart.svg" alt="cart">
      <span class="searchBar_cartCount">3</span>
    </span>
  </div>
</section>