<section class="searchBar d-flex justify-content-between align-items-center">
  <ul class="searchBar_nav js-searchBarNav">
    <li class="searchBar_navItem searchBar_navItem__hasChildren">Каталог</li>
    <li class="searchBar_navItem searchBar_navItem__hasChildren">По устройству</li>
    <li class="searchBar_navItem">Акции</li>
  </ul>
  <input type="text" class="searchBar_searchInput js-searchInput" placeholder="Поиск по названию или артикулу">
  <div class="d-flex align-items-center">
    <span class="searchBar_search searchBar_search__desktop">
      <img src="img/search.svg" class="js-search" alt="search">
    </span>
    <span class="searchBar_search searchBar_search__mobile">
      <img src="img/search.svg" alt="search">
    </span>
    <span class="searchBar_close">
      <img src="img/cross.svg" class="js-searchClose" alt="close">
      <span class="searchBar_closeDivider"></span>
    </span>
    <span class="searchBar_cart">
      <img src="img/cart.svg" alt="cart">
      <span class="searchBar_cartCount">3</span>
    </span>
  </div>
</section>