body {
  padding-top: 70px;
  font-family: "PF Beau Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  color: $gray-900;
}

.noScroll {
  overflow: hidden;
}

@media (max-width: 979px) {
  body {
    padding-top: 64px;
  }
}