body {
  // padding-top: 70px;
  font-family: "PF Beau Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  color: $gray-900;
}

@include media-breakpoint-up(md) {
  .modal-open {
    & .header {
      padding-right: calc(17px + 3rem);
    }
  }
}

.noScroll {
  overflow: hidden;
}

.rouble {
  vertical-align: inherit;
}

@media (max-width: 979px) {
  body {
    padding-top: 116px;
  }
}