@font-face {
  font-family: "PF Beau Sans Pro";
  src: url("../fonts/PFBeauSansPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PF Beau Sans Pro";
  src: url("../fonts/PFBeauSansPro-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "PF Beau Sans Pro";
  src: url("../fonts/PFBeauSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PF Beau Sans Pro";
  src: url("../fonts/PFBeauSansPro-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PF Beau Sans Pro";
  src: url("../fonts/PFBeauSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PF Beau Sans Pro";
  src: url("../fonts/PFBeauSansPro-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}