.footer {
  padding: 80px 0 52px;
  background-color: $gray-800;
  font-size: .875rem;
  line-height: 1.6;
  color: $gray-300;
  &_section {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    &Title {
      display: block;
      margin-bottom: 2rem;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: $white;
    }
    &List {
      padding: 0;
      margin: 0;
      list-style: none;
      &Item {
        list-style: none;
        &:not(:last-of-type) {
          margin-bottom: .75rem;
        }
        &__phone {
          margin-top: 1.5rem;
          margin-bottom: 1rem;
        }
        &Link {
          color: $gray-300;
          &:hover {
            color: $gray-300;
          }
          &__mail {
            display: inline-block;
            margin-bottom: .75rem;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &Title {
          display: block;
          color: $gray-500;
        }
        &Value {
          margin-bottom: .75rem;
          &__dashed {
            padding-bottom: .125rem;
            border-bottom: 1px dashed rgba(255,255,255,.3);
            cursor: pointer;
            &:hover {
              border-color: transparent;
            }
          }
          &__map {
            font-size: .75rem;
            line-height: .875rem;
          }
        }
      }
    }
    &Desc {
      font-size: .75rem;
      line-height: 1.3;
      color: $gray-500;
    }
  }
  &_socials {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    &Item {
      list-style: none;
      line-height: 1rem;
      &Link {
        display: block;
      }
    }
  }
  &_copyrights {
    margin-top: 40px;
    &Logo {
      margin-right: 52px;
    }
    &Desc {
      margin: 0;
      font-size: .5rem;
      line-height: 1.25;
      color: $white;
      opacity: 0.4;
    }
    &Value {
      font-size: .75rem;
      line-height: .875rem;
      color: $white;
      &__gray {
        opacity: 0.4;
      }
    }
    &Block {
      position: absolute;
      left: 15px;
      top: calc(100% + 40px + 3px);
    }
  }
}

@include media-breakpoint-down(lg) {
  .footer {
    &_copyrights {
      margin-top: 16px;
    }
  }
}

@include media-breakpoint-between(md, lg) {
  .footer {
    &_section {
      margin: 0 4rem 4rem 0;
    }
    &_copyrightsBlock {
      top: calc(100% + 5rem + 3px);
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    padding: 52px 0 24px;
    &_section {
      width: 100%;
      margin: 0 0 1.5rem;
      &Title {
        cursor: pointer;
        &:not(&__support) {
          margin-bottom: 0;
        }
        &:after {
          content: "";
          background: url('../img/arrow-bottom.svg') center no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-left: .5rem;
          width: 8px;
          height: 4px;
          transition: all .25s cubic-bezier(.25,.46,.45,.94);
        }
        &.active {
          &:after {
            transform: rotate(180deg);
          }
        }
        &__support {
          margin-bottom: 1rem;
          &:after {
            content: none;
          }
        }
      }
      &List {
        margin-top: 1rem;
        display: none;
      }
    }
    &_socials {
      &Item {
        margin-right: 1.25rem;
        &Link {
          & > img {
            width: 1.5rem;
          }
        }
      }
    }
    &_copyrights {
      margin-top: 46px;
      &Value {
        text-align: right;
      }
      &Desc {
        margin-top: 1rem;
      }
    }
  }
}