.homePage {
    &_grid {
        display: flex;
        position: relative;
    }

    &_left {
        flex: 1;
    }

}

@media (max-width: 768px) {
    .homePage {
        &_right {
            display: none !important;
        }
    }
}

@media (min-width: 768px) {
    .homePage {
        overflow-x: hidden;
    }
}
